*{
    margin: 0;
    padding: 0;
}
.header-text{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Solway', serif;
}
.card{
    margin: 15px;
    border-radius: 5px;
}
body{
    background-image: url(./assets/images/wood.jpg);
}
#pet-image{
    display: flex;
}

.map-styling{
    border: 1px black solid;
}
