*{
    margin: 0;
    padding: 0;
}
.header-text{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Solway', serif;
}
.navbar{
    background-color: rgb(197, 196, 196);
}
.card{
    margin: 15px;
    border-radius: 5px;
}
body{
    background-image: url(./assets/images/wood.jpg);
}
<<<<<<< HEAD
#maps{
    text-align: center;
    display: flex;
    

    
}

#pet-image{
    display: flex;
    flex-direction: row;
=======





#pet-image{
    display: flex;
    
>>>>>>> 6b9c5275468767c4e58c6eed41d051436f201581
}